{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_page_content %}
    <div class="tree" style="display: none;">
        <ul>
            <li>
                <a href="#">
                    {{ category.subject ~ ' - ' ~ category }}
                </a>
                <ul>
                    {% for book in category.books %}
                        <li>
                            <a href="#">{{ book }}</a>
                            <ul>
                                <li>
                                    <a>المواصفات</a>
                                </li>
                                <li>
                                    <a>المتابعة</a>
                                </li>
                                <li>
                                    <a>الوحدات</a>
                                </li>
                                <li>
                                    <a>المحتوي</a>
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

