{% extends 'base.html.twig' %}

{% block body %}
    <div dir="rtl" style="width: 50%; position: relative; margin: auto;">
        {{ include('FOSUserBundle:Security:login_content.html.twig') }}
    </div>
{% endblock %}